:root{
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121A;
  --background-dark-grey: #191D2B;
  --border-color: #2e344e;
  --background-light-color: #F1F1F1;
  --background-light-color-2: rgba(3,127,255, .3);
  --white-color: #FFF;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191D2B;
  --scrollbar-bg-color: #383838;
  --scrollbar-thump-color: #6b6b6b;
  --scrollbar-track-color: #383838;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8; /* Add your desired background color */
  padding: 10px;
  text-align: center;
  background: var(--background-dark-grey);
  /* Add any other styling you want for your footer */
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.footer-section {
  flex: 1;
  text-align: center;
}

.footer-bottom {
  margin-top: 10px;
}

.homePage{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homePage-content{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

body{
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 300px;
}

.btn{
  cursor: pointer;
}

.btn:hover{
  color: var(--primary-color);
  scale: 1.3;
}

a{
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-size: 1rem;
}

h1{
  font-size: 4rem;
  color: var(--white-color);
}

.navBar{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 100;
  background-color: var(--background-dark-color);
  margin-bottom: 50px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
  }
  
  .modal-content {
    background: var(--background-light-color);
    border: 5px solid var(--primary-color);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    min-width: 300px;
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-light-color-2);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--primary-color);
  }

  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .dashboard{
    margin-top: 150px;
    z-index: 2;
  }

  .listSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listRow{
    width: fit-content;
    padding: 10px;
    border: 2px solid var(--border-color);
    background: var(--background-dark-color);
    text-align: center;
    margin: 10px;
    transition: 0.1s;
    box-shadow: 0px 3px 8px var(--background-dark-grey);
  }


  .listRow:hover{
    background: var(--background-light-color-2);
    scale: 1.1;
    transition: 0.1s;
  }

  .listName{
    font-size: 1.5rem;
    color: white;
  }

  .listWork{
    font-size: 1rem;
    color: var(--font-light-color);
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .item-list{
    width: 50%;

  }

  .list-item-group{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 0px 3px 8px var(--background-dark-grey);
  }

  .list-item-group p {
    text-align: center;
  }

  .hidden{
    display: none;
  }

  .list-link{
    display: flex;
  }

  .deletebtn{
    padding: 10px;
    font-size: 30px;
    color: var(--font-light-color);
  }

  .deletebtn:hover{
    scale: 1.3;
    cursor: pointer;
    color: red;
  }

  .edit-input-area{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-dark-color-2);
  }

  .homebtn{
    padding: 10px;
    font-size: 40px;
  }

  .homebtn:hover{
    scale: 1.3;
    cursor: pointer;
    color: var(--primary-color);
  }

  .home-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 10px;
  }

  .home-buttons-again{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px;
  }

  .profile-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }

  .profile-nav a{
    padding:32px;
  }

  .profile-nav a:hover{
    color: var(--primary-color);
  }

  .second-nav{
    margin-bottom: 100px;
    border-bottom: 15px solid var(--background-light-color);
  }

  .active{
    color: var(--border-color);
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
    background: var(--background-light-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .border-top{
    border-top: 1px solid var(--border-color);
  }

  .friends{
    margin-top: 150px;
  }

  .friends-area{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .current-friends h2{
    margin: 10px;
    color: var(--primary-color);
    text-decoration: underline;
  }

  .current-friends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    background: var(--background-light-color);
    color: var(--font-dark-color-2);
    float: left;
    max-height: fit-content;
  }

  .friends-title{
    font-size: 2rem;
    color: var(--font-light-color);
    margin: 10px;
    text-decoration: underline;
  }

  .friends-list li{
    list-style:square;
    text-decoration:wavy;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 10px;
  }

  .sentTo{
    margin: 10px;
    color: var(--primary-color);
  }

  .receivedPage{
    margin-top: 150px;
  }

  .loginModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loginModal h1{
    color: var(--primary-color);
    font-size: 30px;
    margin: 20px;
  }

  .loginModal input{
    margin: 10px;
    padding: 10px;
    width: 70%;
    font-size: 18px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-light-color);
    color: var(--font-dark-color-2);
  }

  .formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-dark-color-2);
  }

  .edit-title{
    color: var(--primary-color);
    font-size: 200%;
    text-align: center;
  }

  .emailArea{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .passwordArea{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginModal button{
    margin: 10px;
    padding: 10px;
    width: 30%;
    font-size: 18px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background: var(--background-dark-color);
    color: var(--font-light-color);
    transition: 0.1s;
  }

  .loginModal button:hover{
    background: var(--background-light-color-2);
    scale: 1.1;
    transition: 0.1s;
    cursor: pointer;
    color: var(--font-dark-color-2);
  }

  .notLoggedIn{
    display: flex;
    width: 100%;
    justify-content: end;
  }

  .notLoggedIn h2{
    margin: 10px;
  }

  .notLoggedIn h2:hover{
    color: var(--primary-color);
    cursor: pointer;
    scale: 1.3;
  }

  .logoutModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logoutModal h1{
    color: var(--primary-color);
    font-size: 30px;
    margin: 20px;
  }

  .logoutBtns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 10px;
  }

  .logoutModal button{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background: var(--background-dark-color);
    color: var(--font-light-color);
    transition: 0.1s;
    display: flex;
    justify-content: center;
  }

  .logoutModal button:hover{
    background: var(--background-light-color-2);
    scale: 1.1;
    transition: 0.1s;
    cursor: pointer;
    color: var(--font-dark-color-2);
  }

  .sent-friends{
    font-size: 1.5rem;
    color: var(--primary-color);
    text-decoration: underline;
  }

  .check-list{
    color: var(--font-dark-color-2);
    font-size: 1.5rem;
  }

  .friend-label{
    display: flex;
    margin: 10px;
  }

  .friend-label input{
    width: 20px;
  }

  .friend-label input:hover{
    cursor: pointer;
    
  }

  .friend-label p{
    margin-left: 10px;
  }

  #welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
  }

  .home-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid var(--border-color);
    border-left: 3px solid var(--border-color);
    margin: 8%;
  }

  .home-info div{
    text-align: center;
    border: 2px solid var(--border-color);
    margin: 20px;
    width: 80%;
  }

  .home-info div p {
    margin: 10px;
    font-size: 17px;
  }
  
  .home-info div h2 {
    margin: 10px;
    color: var(--primary-color);
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .sentby{
    color: var(--primary-color);
  }

  .search-results{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .search-result{
    border-bottom: 1px solid var(--border-color);
    color: var(--font-dark-color-2);
    padding: 5px;
    width: 600px;
    display: flex;
    align-items: center;
  }

  .search-result:hover{
    cursor: pointer;
    background: var(--background-light-color-2);
  }

  .search-username{
    color: var(--primary-color);
  }

  .addfriend{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 5px;
    margin-left: 5px;
  }

  .addfriend:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: white;
  }

  .search-friends{
    padding: 5px;
    border: none;
    width: 600px;
  }

  .search-friends:hover{
    cursor:text;
  }

  .search-friends:focus{
    outline: none;
  }

  .search-friends::placeholder{
    color: var(--font-dark-color-2);
  }

  .search-friends{
    border-bottom: 1px solid var(--border-color);
    color: var(--font-dark-color-2);
    padding: 5px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .friend-list{
    border-bottom: 1px solid var(--border-color);
  }

  .friends-list li{
    display: flex;
    justify-content: space-between;
  }

  .first-item{
    background: red;
  }

  .remfriend{
    color: red;
    padding: 5px;
    margin-left: 5px;
  }

  .remfriend:hover{
    cursor: pointer;
    background: red;
    color: white;
  }

  .whereTo{
    background-color: var(--background-dark-color);
    border: 2px solid var(--font-light-color);
    color: var(--font-light-color);
    line-height: 1.5;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    max-width: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .whereTo:hover{
    background: var(--background-light-color-2);
    scale: 1.1;
    transition: 0.1s;
    color: var(--font-light-color);
  }

  .whereTo:focus{
    border-color: #007bff;
  }

  .itemInput{
    background-color: var(--background-dark-color);
    border: 2px solid var(--font-light-color);
    color: var(--font-light-color);
    line-height: 1.5;
    margin: 10px;
    padding: 5px;
    max-width: 100%;
  }

  .itemInput:hover{
    scale: 1.1;
    transition: 0.1s;
    color: var(--font-light-color);
  }

  .notesInput{
    background-color: var(--background-dark-color);
    border: 2px solid var(--font-light-color);
    color: var(--font-light-color);
    line-height: 1.5;
    margin: 10px;
    padding: 5px;
    max-width: 100%;
  }

  .notesInput:hover{
    scale: 1.1;
    transition: 0.1s;
    color: var(--font-light-color);
  }

  .quantityInput{
    background-color: var(--background-dark-color);
    border: 2px solid var(--font-light-color);
    color: var(--font-light-color);
    line-height: 1.5;
    margin: 10px;
    padding: 5px;
    max-width: 7%;
    text-align: center;

  }

  .inputs-Area{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quantityInput:hover{
    scale: 1.1;
    transition: 0.1s;
    color: var(--font-light-color);
  }

  @media screen and (max-width: 390px){
    :root{
      max-width: 390px;
    }

    body{
      max-width: 390px;
      margin-bottom: 100px;
    }

    .home-info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-right: none;
      border-left: none;
      margin: 8%;
    }
    #welcome-section h1{
      font-size: 40px;
    }

    .modal-content{
      min-width: 200px;
      min-height: 200px;
      max-height: 400px;
      max-width: 350px;
    }

    .homePage-content{
      margin-top: 50px;
      max-width: 390px;
      margin-bottom: 100px;
    }

    .navBar{
      max-width: 390px;
    }

    .inputs-Area{
      max-width: 390px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      border: 2px solid var(--border-color);
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
    }

    .inputs-Area i{
      color: red;
    }

    .inputs-Area i:hover{
      color: var(--primary-color);
    }

    .inputs-Area p{
      font-weight: bold;
    }

    .whereTo:hover{
      background: none;
      scale: 1.1;
      transition: 0.1s;
      color: var(--font-light-color);
      border:2px solid var(--primary-color);
    }

    .quantityInput{
      max-width: 20%;
    }

    .profile-nav{
      max-width: 390px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px solid var(--border-color);
      border-bottom: 2px solid var(--border-color);
      margin-top: 90px;
    }

    .profile-nav a{
      padding: 10px;
    }

    .profile-nav li{
      margin: 10px;
      
    }

    .second-nav{
      max-width: 390px;
      border-bottom: none;
      /* border-right: 5px solid var(--background-light-color); */
      margin-bottom: 50px;
    }

    li .active{
      width: 100%;
      background: none;
      border: 2px solid var(--primary-color);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: var(--primary-color);
    }

    .deletebtn{
      color: red;
    }

    .dashboard{
      margin-top: 0px;
      margin-bottom: 100px;
    }


    .listRow{
      max-width: 300px;
      margin: none;
      display: flex;
      border-radius: 15px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .listName{
      font-size: 1.5rem;
      color: white;
      margin: 10px;
    }
    
    .friends{
      margin-top: 0px;
      margin-bottom: 100px;
      max-width: 390px;
      flex-direction: column;
    }

    .current-friends{
      max-width: 390px;
      float: none;
      font-size: medium;
    }

    .friends-area{
      max-width: 390px;
      flex-direction: column;
      align-items: center;
    }

    .search-friends{
      max-width: 370px;
      justify-content: center;
      align-items: center;
      padding: 10;
    }

    .search-results{
      max-width: 390px;
      justify-content: center;
      align-items: center;
    }

    li.search-result{
      max-width: 370px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: medium;
    }

    .searching-friends{
      max-width: 390px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }

    .listUser{
      display: flex;
      align-items: center;
    }

    .listWork h1{
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .item-list{
      max-width: 390px;
      width: 90%;
    }

    .list-item-group{
      max-width: 390px;
    }

    .list-item-group p {
      text-align: center;
    }

    .homebtn{
      padding: 10px;
      font-size: 30px;
      color: var(--primary-color);
    }

    .edit-input-area{
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-dark-color-2);
      flex-direction: column;
      max-width: 100%;
    }

    .edit-input-area input{
      margin-top: 5px;
      line-height: 1.5;
      text-align: center;
      width: fit-content;
      max-width: 100%;
    }

    .edit-input-area p{
      margin: 10px;
    }

    .footer-section p, .footer-section a{
      max-width: 390px;
      font-size: 12px;
    }

    .footer-section h2, .footer-bottom p{ 
      max-width: 390px;
      font-size: 14px;
    }

    
  }

  @media screen and (max-width: 430px) {
    :root {
      max-width: 430px;
    }
  
    body {
      max-width: 430px;
      margin-bottom: 100px;
    }
  
    .home-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-right: none;
      border-left: none;
      margin: 8%;
    }
  
    #welcome-section h1 {
      font-size: 40px;
    }
  
    .home-info div h2 {
      margin: 10px;
      color: var(--primary-color);
      font-size: 1.4rem;
      text-decoration: underline;
    }

    .home-info div p {
      margin: 14px;
      font-size: 15px;
    }
  
    .modal-content {
      min-width: 200px;
      min-height: 200px;
      max-height: 400px;
      max-width: 350px;
    }
  
    .homePage-content {
      margin-top: 50px;
      max-width: 430px;
      margin-bottom: 100px;
    }
  
    .navBar {
      max-width: 430px;
    }
  
    .inputs-Area {
      max-width: 430px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      border: 2px solid var(--border-color);
      margin: 10px;
      padding: 10px;
      border-radius: 10px;
    }
  
    .inputs-Area i {
      color: red;
    }
  
    .inputs-Area i:hover {
      color: var(--primary-color);
    }
  
    .inputs-Area p {
      font-weight: bold;
    }
  
    .whereTo:hover {
      background: none;
      scale: 1.1;
      transition: 0.1s;
      color: var(--font-light-color);
      border: 2px solid var(--primary-color);
    }
  
    .quantityInput {
      max-width: 20%;
    }
  
    .profile-nav {
      max-width: 430px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px solid var(--border-color);
      border-bottom: 2px solid var(--border-color);
      margin-top: 90px;
    }
  
    .profile-nav a {
      padding: 10px;
    }
  
    .profile-nav li {
      margin: 10px;
    }
  
    .second-nav {
      max-width: 430px;
      border-bottom: none;
      /* border-right: 5px solid var(--background-light-color); */
      margin-bottom: 50px;
    }
  
    li .active {
      width: 100%;
      background: none;
      border: 2px solid var(--primary-color);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: var(--primary-color);
    }
  
    .deletebtn {
      color: red;
    }
  
    .dashboard {
      margin-top: 0px;
      margin-bottom: 100px;
    }
  
    .listRow {
      max-width: 300px;
      margin: none;
      display: flex;
      border-radius: 15px;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .listName {
      font-size: 1.5rem;
      color: white;
      margin: 10px;
    }
  
    .friends {
      margin-top: 0px;
      margin-bottom: 100px;
      max-width: 430px;
      flex-direction: column;
    }
  
    .current-friends {
      max-width: 430px;
      float: none;
      font-size: medium;
    }
  
    .friends-area {
      max-width: 430px;
      flex-direction: column;
      align-items: center;
    }
  
    .search-friends {
      max-width: 370px;
      justify-content: center;
      align-items: center;
      padding: 10;
    }
  
    .search-results {
      max-width: 430px;
      justify-content: center;
      align-items: center;
    }
  
    li.search-result {
      max-width: 370px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: medium;
    }
  
    .searching-friends {
      max-width: 430px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
    }
  
    .listUser {
      display: flex;
      align-items: center;
    }
  
    .listWork h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  
    .item-list {
      max-width: 430px;
      width: 90%;
    }
  
    .list-item-group {
      max-width: 430px;
    }
  
    .list-item-group p {
      text-align: center;
    }
  
    .homebtn {
      padding: 10px;
      font-size: 30px;
      color: var(--primary-color);
    }
  
    .edit-input-area {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-dark-color-2);
      flex-direction: column;
      max-width: 100%;
    }
  
    .edit-input-area input {
      margin-top: 5px;
      line-height: 1.5;
      text-align: center;
      width: fit-content;
      max-width: 100%;
    }
  
    .edit-input-area p {
      margin: 10px;
    }
  
    .footer-section p,
    .footer-section a {
      max-width: 430px;
      font-size: 12px;
    }
  
    .footer-section h2,
    .footer-bottom p {
      max-width: 430px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 360px) {
    :root {
      max-width: 360px;
    }
  
    body {
      max-width: 360px;
      margin-bottom: 100px;
    }
  
    .home-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-right: none;
      border-left: none;
      margin: 8%;
    }
  
    #welcome-section h1 {
      font-size: 35px;
    }
  
   .home-info div h2 {
      margin: 10px;
      color: var(--primary-color);
      font-size: 1.3rem;
      text-decoration: underline;
    }

    .home-info div p {
      margin: 10px;
      font-size: 15px;
    }
  
    .modal-content {
      min-width: 180px;
      min-height: 180px;
      max-height: 360px;
      max-width: 320px;
    }
  
    .homePage-content {
      margin-top: 40px;
      max-width: 360px;
      margin-bottom: 80px;
    }
  
    .navBar {
      max-width: 360px;
    }
  
    .inputs-Area {
      max-width: 360px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: left;
      border: 2px solid var(--border-color);
      margin: 8px;
      padding: 8px;
      border-radius: 8px;
    }
  
    .inputs-Area i {
      color: red;
    }
  
    .inputs-Area i:hover {
      color: var(--primary-color);
    }
  
    .inputs-Area p {
      font-weight: bold;
    }
  
    .whereTo:hover {
      background: none;
      scale: 1.1;
      transition: 0.1s;
      color: var(--font-light-color);
      border: 2px solid var(--primary-color);
    }
  
    .quantityInput {
      max-width: 18%;
    }
  
    .profile-nav {
      max-width: 360px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px solid var(--border-color);
      border-bottom: 2px solid var(--border-color);
      margin-top: 80px;
    }
  
    .profile-nav a {
      padding: 8px;
    }
  
    .profile-nav li {
      margin: 8px;
    }
  
    .second-nav {
      max-width: 360px;
      border-bottom: none;
      margin-bottom: 40px;
    }
  
    li .active {
      width: 100%;
      background: none;
      border: 2px solid var(--primary-color);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: var(--primary-color);
    }
  
    .deletebtn {
      color: red;
    }
  
    .dashboard {
      margin-top: 0px;
      margin-bottom: 80px;
    }
  
    .listRow {
      max-width: 260px;
      margin: none;
      display: flex;
      border-radius: 12px;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .listName {
      font-size: 1.3rem;
      color: white;
      margin: 8px;
    }
  
    .friends {
      margin-top: 0px;
      margin-bottom: 80px;
      max-width: 360px;
      flex-direction: column;
    }
  
    .current-friends {
      max-width: 360px;
      float: none;
      font-size: small;
    }
  
    .friends-area {
      max-width: 360px;
      flex-direction: column;
      align-items: center;
    }
  
    .search-friends {
      max-width: 320px;
      justify-content: center;
      align-items: center;
      padding: 8px;
    }
  
    .search-results {
      max-width: 360px;
      justify-content: center;
      align-items: center;
    }
  
    li.search-result {
      max-width: 320px;
      justify-content: center;
      align-items: center;
      padding: 8px;
      font-size: small;
    }
  
    .searching-friends {
      max-width: 360px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  
    .listUser {
      display: flex;
      align-items: center;
    }
  
    .listWork h1 {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }
  
    .item-list {
      max-width: 360px;
      width: 85%;
    }
  
    .list-item-group {
      max-width: 360px;
    }
  
    .list-item-group p {
      text-align: center;
    }
  
    .homebtn {
      padding: 8px;
      font-size: 28px;
      color: var(--primary-color);
    }
  
    .edit-input-area {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-dark-color-2);
      flex-direction: column;
      max-width: 100%;
    }
  
    .edit-input-area input {
      margin-top: 5px;
      line-height: 1.5;
      text-align: center;
      max-width: 100%;
      /* width: fit-content; */
    }
  
    .edit-input-area p {
      margin: 8px;
    }
  
    .footer-section p,
    .footer-section a {
      max-width: 360px;
      font-size: 10px;
    }
  
    .footer-section h2,
    .footer-bottom p {
      max-width: 360px;
      font-size: 12px;
    }
  }
  

